@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* { /* Remover Margin e padding de todos os elementos*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { /* Defenir a fonte, Transição da cor do background e eliminar o cursor*/
  font-family: 'Inconsolata', monospace;
  transition: 0.3s ease-out, color 0.3s ease-out;
  cursor: none;
}

.cursor { /* Personalização do Cursor*/
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.3s;
}

.cursor.hovered { /* Personalização do Cursor quando em estado hover*/
  transform: scale(1.5);
  border: 2px solid #fff;
}

.cursor::before { /* Personalização do Cursor do centro */
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noise { /* Camada de ruido*/
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./imagens/noise.png');
  background-size: 200px; 
  background-repeat: repeat;
  opacity: .25;
  pointer-events: none;
}

section { /* Estilo geral da das Secções */
  height: 100vh;
  width: 100%;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
}

section:first-child { /* Estilo Primeira secção*/
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 { /* estilizar o tipo de letra h1 */
  font-weight: 100;
  font-size: 80px;
}

h1 a { /* estilizar o tipo de letra A dentro do H1 */
  font-weight: 300;
  color: white;
  text-decoration: none;
  position: relative;
  cursor: none;
}

h1 a::after { /* Animar os links do titulo */
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.5s;
}

h1 a:hover::after { /* quando utilizando o hover no titulo a width passa para 100%*/
  width: 100%;
}

section#aboutme { /* Estilo secção about me*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10vh;
  position: relative;
}

section#aboutme img { /* Posição da Imagem*/
  position: absolute;
  right: 10vw;
  top: 25vh;
}

section#aboutme h3 { /* Posição e estilização do Titulo */
  width: 50%;
  padding-top: 10vh;
  font-weight: 100;
  font-size: 26px;
}

section#projects { /* Estilo secção projects*/
  padding-top: 10vh;
}

.image-wrapper { /*definir o grid e criar 2 colunas iguais */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.image-column { /* Defenir qual é a coluna das imagens */
  grid-column: 1 / 2;
}

.title-column { /* Defenir qual é a coluna dos projetos */
  grid-column: 2 / 3;
}

.image-list { /* Posicionar as imagens */
  position: relative;
}

.image-list img { /* Estilização das imagens */
  width: 100%;
  height: 60vh;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50% 20% / 10% 40%;
}

.image-list img.active { /* Opacidade da imagem que tem o hover */
  opacity: 1;
}

.title-list { /* Estilização da lista dos projetos */
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.title-list h3 { /* Estilização do conteudo dentro da lista de projetos */
  cursor: pointer;
  font-weight: 100;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-list h3 a { /* Tirar a decoração dos links */
  text-decoration: none;
}

.last-in-column { /* aplicar uma border no ultimo item */
  border-bottom: 1px solid white;
}

.project-type { /* estilizar o tipo de projeto */
  font-weight: normal;
  color: gray;
}

section#contacts { /* definir altura da secção contactos */
  height: 70vh;
}

h2 { /* estilizar o tipo de letra h2 */
  font-weight: 100;
  font-size: 30px;
}

a { /* não aparecer a "mao" quando se faz hover num link */
  cursor: none;
}

#contacts h2 a { /* aplicar a border por baixo do link*/
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid currentColor;
}

#contacts h2 a:hover,
#contacts h2 a:focus,
#contacts h2 a:active { /* independentemente dos estados o texto ficar com a mesma cor*/
  color: inherit;
}
